*.pyc
*__pycache__*
*core.*
*.jpg
*.png
*.pkl
*.txt
*.json
_ext
tmp
*.o*
*~
exp
data/VHS/VHS-Top-5286-Eric/*
data/VHS/.DS_Store
data/EqNeck/EqNeckData
models/local_models/
preaugment_data.py

.DS_Store
data/.DS_Store

data/VHS/.DS_Store